<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Tutorial</title>
</head>
<body>
    <h1>This Template is return by Django Server</h1>
    <h2>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum est, laboriosam, aliquam nisi dolor laudantium, vitae natus mollitia a necessitatibus dolorum saepe nobis error aliquid!</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis, inventore aliquam dignissimos, corporis fugit sit veniam nobis, illum obcaecati similique ex quisquam? Repudiandae repellendus officiis in beatae est ipsam assumenda.</p>

    
</body>
</html>